#side-section {
    background-color: hsl(243, 27%, 20%);
    width: 383px;
    border-radius: 20px;
    padding: 25px;
    box-sizing: border-box;
    position: relative;
}

#hourly-forecast {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#day {
    background-color: hsl(243, 23%, 24%);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    width: 130px;
    display: flex;
    justify-content: center;
}

#list-of-hours-container {
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    justify-content: space-evenly;
    height: 590px;
    /* position: relative; */
}

.forecast-hour {
    display: flex;
    justify-content: space-between;
    border: 1px solid hsl(243, 23%, 30%);
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: hsl(243, 23%, 30%);
}

.forecast-hour-wrapper {
    display: flex;
    border: 1px solid white;
    
}