#side-section {
    background-color: hsl(243, 27%, 20%);
    width: 383px;
    border-radius: 20px;
    /* padding: 25px; */
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#hourly-forecast {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px 0px 25px;
}

#hourly-forecast-title {
    font-weight: 700;
    font-size: 20px;
}

#day-wrapper {
    position: relative;
}

#active-day-wrapper {
    background-color: hsl(243, 23%, 30%);
    /* background-color: hsl(243, 23%, 24%); */
    padding: 7.5px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    position: relative;
    cursor: pointer;
    width: 120px;
}

#active-day-drop-down {
    position: absolute;
    top: 45;
    right: 0px;
    border-radius: 10px;
    border: 1px solid hsl(243, 23%, 30%);
    /* max-width: 100%; */
    width: 212px;
    height: 314px;
    background-color: hsl(243, 23%, 24%);
    box-sizing: border-box;
    padding: 7px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.day-choice {
    height: 40px;
    /* border: 1px solid rgb(104, 104, 104); */
    display: flex;
    align-items: center;
    padding-left: 8px;
    border-radius: 10px;
    cursor: pointer;
}

.day-choice:hover {
    background-color: hsl(243, 23%, 30%);
}

#list-of-hours-container {
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    justify-content: space-evenly;
    height: 590px;
    /* position: relative; */
    gap: 15px;
    /* border: 1px solid white; */
    overflow-y: scroll;
    padding: 0px 25px;
}

.forecast-hour {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid hsl(243, 23%, 30%);
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    /* border: 1px solid white; */
    background-color: hsl(243, 23%, 24%);
    height: 60px;
}

.forecast-hour-wrapper {
    display: flex;
    /* border: 1px solid white; */
    gap: 10px;
    font-weight: 600;
    align-items: center;

}

.forecast-hour-weather {
    width: 30px;
    /* border: 1px solid white; */
    /* height: 10px; */
}

.degree {
    font-weight: 600;
}