.todays-weather-container-loading {
    border-radius: 10px;
    display: flex;
    width: 100%;
    max-width: 800px;
    height: 287px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: hsl(243, 23%, 24%);
}

.details-loading {
    background-color: hsl(243, 23%, 24%);
    border-radius: 10px;
    width: 183px;
    height: 118px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 15px;
    box-sizing: border-box;
    font-size: 30px;
}

#side-section-loading {
    background-color: hsl(243, 27%, 20%);
    width: 383px;
    border-radius: 20px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#list-of-hours-container-loading {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 590px;
    gap: 15px;
    overflow-y: scroll;
    padding: 0px 25px;
}

.forecast-hour-loading {
    height: 60px;
    display: block;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 28.5px;
    border: 1px solid hsl(243, 23%, 30%);
    background-color: hsl(243, 23%, 24%);
}