#container {
    width: 100%;
    max-width: 1217px;
    display: flex;
    flex-direction: column;
    padding-top: 23px;
}

#sections {
    display: flex;
    gap: 30px;
}

.top-nav {
    width: 100%;
    /* max-width: 1440px; */
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-wrapper {
    display: flex;
    /* border: 1px solid white; */
    justify-content: space-between;
    width: 100%;
    margin-bottom: 90px;
}

#logo {

}

#units {
    width: 120px;
    background-color: hsl(243, 23%, 30%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 60px;
}

#search-wrapper {
    display: flex;
    /* border: 1px solid white; */
    gap: 10px;
    width: 100%;
    /* max-width: 525px; */
    height: 57px;
    justify-content: center;
    margin-bottom: 45px;
}

#search-img {
    /* width: 50px; */
}

#search-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(243, 23%, 30%);
    border-radius: 8px;
    padding: 25px;
    box-sizing: border-box;
    width: 525px;
    /* border: 1px solid white; */
}

#search-text input {
    background-color: hsl(243, 23%, 30%);
    border: none;
    color: hsl(0, 0%, 100%);
    font-size: 15px;
    width: 100%;
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

::placeholder {
    color: white;
    opacity: 1;
}

#search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 115px;
    background-color: hsl(233, 67%, 56%);
    /* padding: 10px 15px; */
    border-radius: 8px;
    box-sizing: border-box;
}