@media (max-width: 1050px) {
    #container {
        max-width: 375px;
        /* border: 1px solid white; */
        padding-top: 0px;
    }

    .top-wrapper {
        margin-bottom: 41px;
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
    }

    #logo {
        width: 140px;
    }

    #units-container {
        width: 90px;
        height: 30px;
    }

    #units-wrapper {
        gap: 5px;
    }

    #units {
        font-size: 14px;
    }

    #units-img {
        width: 14px;
    }

    #units-dropdown-img {
        width: 12px;
    }

    #wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #title {
        text-align: center;
        width: 300px;
        margin-bottom: 41px;
    }

    #search-wrapper {
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        gap: 6px;
        height: 100%;
        margin-bottom: 27px;
    }

    #search-text {
        width: 351px;
        box-sizing: border-box;
        height: 59px;
    }

    #search-button {
        width: 351px;
        max-width: 100%;
        height: 59px;
        box-sizing: border-box;
        flex-direction: row;
    }

    /* MainSection.css */
    .main-section {
        align-items: center;
        justify-content: center;
        max-width: 375px;
    }

    /* TodaysWeather.css */

    #todays-weather-wrapper {
        box-sizing: border-box;
        align-items: center;
        width: 100%;
    }

    .todays-weather-container {
        flex-direction: column;
        padding-top: 40px;
        padding-bottom: 40px;
        background-image: url('/bg-today-small.svg');
        background-repeat: no-repeat;
        justify-content: center;
        align-items: center;
        max-width: 345px;
    }

    #todays-weather-details {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .details {
        width: 162px;
    }

    /* DailyForecast.css */

    #daily-forecast {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 345px;
    }

    #days {
        flex-wrap: wrap;
        gap: 20px;
    }

    /* page.css */

    #sections {
        flex-direction: column;
        align-items: center;
    }

    /* SideSection.css */

    #side-section {
        width: 345px;
    }

}