#daily-forecast {

}

#daily-forecast-title {
    margin-bottom: 20px;
    font-weight: 700;
}

#days {
    display: flex;
    justify-content: space-between;
}

.day {
    width: 100%;
    max-width: 100px;
    height: 165px;
    background-color: hsl(243, 27%, 20%);
    border-radius: 10px;
    border: 1px solid hsl(243, 23%, 24%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
}

.weather-img {
    display: flex;
    height: 60px;
}

.days-temperatures {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: normal;
}

.high-temperature {
    color: hsl(0, 0%, 100%);
}

.low-temperature {
    color: hsl(240, 6%, 70%);
}